<table>
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Nom</th>
      <th>E-mail</th>
    </tr>
  </thead>

  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.nick %></td>
        <td><%= admin.name %></td>
        <td><%= admin.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
	<%= paginate @admins %>
</div>
