<h2>Votre profil</h2>

<div>
        Pseudo<br />
        <%= current_admin.nick %>
</div>

<div>
        Nom réel<br />
        <%= current_admin.name %>
</div>

<div>
        E-mail<br />
        <%= current_admin.email %>
</div>

