.midcorner{
	width:100%;
}

.leftcorner{
	width:200%;
}

.tl-corner{
	position:relative;
	float:left;
	margin-left:5px;
	margin-top:5px;
}

.tr-corner{
	position:relative;
	float:right;
	margin-right:5px;
	margin-top:5px;
}

.bl-corner{
	position:relative;
	float:left;
	margin-left:5px;
	margin-bottom:5px;
	bottom:0px;
}

.br-corner{
	position:relative;
	float:right;
	margin-right:5px;
	margin-bottom:5px;
	bottom:0;
	right:0;
}

.leftcadre{
	width:81%;
}

.lightimage img{
	border:3px solid #E6E7DC;
	text-decoration:none;
	border-radius:6px;
	max-height:100px;
	transition:border-color 0.5s ease-out 0s;
}

.lightimage img:hover{
	border:3px solid #A2A2A2;
}
